<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="container mx-auto bg-neutral-200 place-content-center text-center">
    <p>Gib Jhon Tutoring</p>

    <div class="text-start">
    <p class="ml-4 font-bold text-3xl">Name</p>
    <div class="bg-white rounded-md text-center mt-6 mx-2 p-4">
        <p class="text-lg font-semibold">Achieved Medals</p>
    </div>
    </div>
</body>
</html>